.todoTitle {
    font-size: 18px;
    cursor: pointer;
}

.delete,
.complate {
    cursor: pointer;
    position: relative;
    top: 3px;
}
.delete:hover{
    transform: scale(1.1);
    color: rgb(209, 48, 20);
  }
  .complate:hover{
    transform: scale(1.1);
    color: rgb(14, 175, 14);
  }
  .status {
    padding: 10px;
    font-size: 18px;
  }
  .lineThrough {
    text-decoration: line-through;
    color: rgb(14, 175, 14);
  }